/*Страница index.html */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  overflow-x: hidden;
}

/* Самая верхняя часть(header) */


.header-footer {
  display: flex;

}

.gerb_logo {
  width: 100px;
}

.ilo {
  height: 28px;
  margin-top: 57px;
  position: absolute;
  right: 0px;
}

.perehod {
  text-decoration: none;
  color: #fff;
  font-size: 25px ;
}

.perehod:hover {
color: #00ff88;
  font-size: 25px ;
  text-decoration: none;
}

.gorod {
  margin-right: 10px;
}

.novosti {
  margin-right: 10px;
  margin-left: 10px;
}

.merop {
  margin-left: 10px;
  margin-right: 30px;
}

.meropstr {
  margin-left: 10px;
  margin-right: 30px;
  color: #00ff88;
  font-size: 25px ;
  text-decoration: none;
}

.turizmstr {
  margin-right: 10px;
  margin-left: 10px;
  color: #00ff88;
  font-size: 25px ;
  text-decoration: none;
}

.turizmstrrt {
  margin-right: 10px;
  margin-left: 10px;
  color: #ffffff;
  font-size: 25px ;
  text-decoration: none;
}

.turizmstrrt:hover {
  margin-right: 10px;
  margin-left: 10px;
  color: #00ff88;
  font-size: 25px ;
  text-decoration: none;
}
.deti {
  margin-right: 10px;
  margin-left: 10px;
  color: #ffffff;
  font-size: 25px ;
  text-decoration: none;
}

.detistr{
  margin-right: 10px;
  margin-left: 10px;
  color: #00ff88;
  font-size: 25px ;
  text-decoration: none;
}

.novostistr {
  margin-right: 10px;
  margin-left: 10px;
  color: #00ff88;
  font-size: 25px ;
  text-decoration: none;
}

.gorodstr {
  margin-right: 10px;
  color: #00ff88;
  font-size: 25px ;
  text-decoration: none;
}



/* Текст Конаково и кнопка */

header {
  text-align: center;
  padding: 50px 20px 60px 20px;
}

header h1 {
  font-size: 60px;
  margin: 0 0 20px 0;
}

header p {
  font-size: 24px;
  margin: 0 0 40px 0;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  color: #000000;
  background: #00ff88;
  border-radius: 30px;
  text-decoration: none;
  animation: pulse 2s infinite;
}

/* Новости города */

.infa52 {
  width: 990px;
  height: 463px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: right;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin-bottom: 80px;
}

.nov {
  
  
}

.new1 {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 300px;
  margin-left: 45px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;  
  margin-top: 15px;
}

.imhj {
  width: 400px;
  border-radius: 15px;
}


.btan {
  display: inline-block;
  padding: 12px 20px;
  font-size: 20px;
  color: #000000;
  background: #00ff88;
  border-radius: 20px;
  text-decoration: none;

}

/* Небольшая информация о городе и фотки */

.infa {
  width: 990px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.infa1 {
  width: 540px;
  text-align: center;
}

/* Карточки достопримечательностей */

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(0,255,136,0.7); }
  70% { box-shadow: 0 0 0 20px rgba(0,255,136,0); }
  100% { box-shadow: 0 0 0 0 rgba(0,255,136,0); }
}

section#attractions {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

section#attractions h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
  width: 300px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0 10px 0;
  font-size: 24px;
}

.card p {
  margin: 0 15px 20px 15px;
  font-size: 16px;
  color: #ccc;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px #00ff885b;
}

/* Параллакс для секций */
section {
  transform: translateY(0);
  transition: transform 0.5s ease-out;
}


/* Анимация появления карточек */
.cards .card {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.cards .card.visible {
  opacity: 1;
  transform: translateY(0);
}

.mmmmer {
  width: 990px;
  height: 463px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: right;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin-bottom: 80px;
  margin-top: 70px;
}


/* Страница О Городе */

.gorodstraniz {
  width: 990px;
  height: 2530px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin-bottom: 80px;
  padding-top: 6px;
}

.istoria {
  width: 900px;
  margin-left: 45px;
  font-size: 19px;
}

/* Страница Туризм */




/* Страница Туризм(что посетить) */
.card-chtoposetit {
  width: 990px;
  height: 4000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: right;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin-bottom: 80px;
}

.mini-card-chtoposetit-konakovski-kraeved-musei {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 300px;
  margin-left: 45px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;  
  margin-top: 30px;
}


/* Страница Туризм(достопремичательности) */

.card-dostoprem {
  width: 990px;
  height: 3740px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: right;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin-bottom: 80px;
}


.mini-card-dostoprem-konakovski-kraeved-musei {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 300px;
  margin-left: 45px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;  
  margin-top: 30px;
}

/* Страница Туризм(где поесть) */

.card-gdepoest {
  width: 990px;
  height: 3340px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: right;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin-bottom: 80px;
}

.cards-gdepoest {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.cardss {
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
  width: 300px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cards-gdepoest-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cards-gdepoest-h {
  margin: 15px 0 10px 0;
  font-size: 24px;
}

.cards-gdepoest-p {
  margin: 0 15px 20px 15px;
  font-size: 16px;
  color: #ccc;
}

/* Марки */

.breadcrumb__item {
  display: inline-block;
  

  &:nth-child(n + 2)::before {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-inline: 1rem 1.25rem;
    content: "";
    transform: rotate(45deg); /* LTR */
    border-block-start: 2px solid ;
    border-inline-end: 2px solid ;
    color: #fff;
  }
}

.breadcrumb__link {
color: #00ff88;
text-decoration: none;

}


.fin {
  color: #00ff88;
  text-decoration: none;
}


/* Випадение */



/* Dropdown Button */

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00ff88;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
}


/* Links inside the dropdown */

.dropdown-ap {
  text-decoration: none;
  color: black;
  padding: 12px 16px;
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dropdown-center {
  text-decoration: none;
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-down {
  text-decoration: none;
  color: black;
  padding: 12px 16px;
  display: block;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


/* Страница Новости */

.card-vsenovosti {
  width: 990px;
  height: 463px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: right;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin-bottom: 80px;
}



